<Config>
	<Fixes>
		<Item V=".H265" />
		<Item V=".h265" />
		<Item V="_onekeybatch" />
		<Item V="8a88b.com_" />
		<Item V="hhd800.com@" />
		<Item V="bingyuxg@" />
		<Item V="www.SexInSex.net@" />
		<Item V="4k2.com@" />
		<Item V="3xplanet_" />
		<Item V="HD-" />
		<Item V="335588.xyz " />
		<Item V="2048.info@" />
		<Item V=" HD Movie " />
		<Item V="- H動漫-裏番-線上看 - Hanime1.me" />
		<Item V="- H動漫-裏番-線上看 - Hanime1.me_2" />
		<Item V=" THE ANIMATION " />
		<Item V="H動漫-裏番-線上看--番Hanime1.me" />
		<Item V="-桃色動画館---色" />
		<Item V="- H動漫_裏番_線上看 - Hanime1.me" />
	</Fixes>
	<Classify>
		<Ignores>
			<Item V="[后篇]" />
			<Item V="[前篇]" />
			<Item V="(4K)" />
			<Item V="[4K]" />
			<Item V="(2K)" />
			<Item V="[前編]" />
			<Item V="(WMV)" />
			<Item V="(MP4)" />
			<Item V="(後編)" />
			<Item V="(前編)" />
		</Ignores>
		<Mapper>
			<Item K="Pornhub" V="Pornhub" />
			<Item K="完整视频" V="完整视频" />
			<Item K=" - Rule 34 World" V="[Rule34]" />
			<Item K="Rule 34 World - " V="[Rule34]" />
			<Item K="中文音声" V="中文音声" />
			<Item K="淫词艳曲" V="[淫词艳曲]" />
			<Item K="骚麦" V="[淫词艳曲]" />
		</Mapper>
	</Classify>
</Config>
